/* Style Variables */
:root {
  /* Color Variables */
  --dark-background: #121212;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #adadad;
  --accent-color: #6200ee;
  --accent-color-dark: #170138;
  --highlight-color: #bb86fc;
  --highlight-color-dark: #352745;

  /* Component-Specific Colors */
  --chord-player-background: #333333;
  --chord-element-background: #424242;
  --chord-element-border: #636363;
}

/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: var(--primary-text-color);
  position: relative;
  background: none;
  overflow-y: auto;
}

/* Main content */
main {
  position: relative;
  z-index: 1; /* Ensure content is above the background */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-text-color);
}

/* General layout wrapper */
.layout-wrapper {
  position: relative; /* Create stacking context */
  overflow: hidden;
  z-index: 1;
}

.animated-background {
  position: fixed; /* Ensures it stays in place as you scroll */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: linear-gradient(
  45deg,
  var(--highlight-color-dark),
  var(--accent-color-dark),
  var(--dark-background),
  #040115,
  #000
  
);

  background-size: 400% 400%; /* Makes the gradient larger than the viewport for smooth animation */
  z-index: -1;
}




/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}




/* Links */

/* For links inside a span */
span.link a {
  display: inline-block;
  transition: opacity 0.75s, transform 0.75s ease-in-out, padding 0.75s ease-in-out;
  color: var(--highlight-color);
  opacity: 1;
  padding: 0;
}

span.link a:hover {
  transform: scale(1.03);
  opacity: 1;
  padding-left: 1%;
  padding-right: 1%;
}

a.link {
  display: inline-block; /* Required for transform to work */
  transition: opacity 0.4s, transform 0.4s ease-in-out;
  color: var(--highlight-color);
  opacity: 1;
}

a.link:hover {
  transform: scale(1.05);
  opacity: 1;
}



/* SiteNavbar */
.navbar-wrapper {
  z-index: 9991;
}

.site-navbar {
  display: flex; /* Display items in a flex container */
  justify-content: space-between; /* Align items evenly along the main axis */
  align-items: center; /* Center items vertically */
  background: linear-gradient(
    45deg,
    var(--accent-color-dark) 0%,
    var(--dark-background) 100%
  );
  border-radius: 10px; /* Rounded edges */
  padding: 10px 20px; /* Add padding for space */
  border: 1px solid #FFFFFF; /* Thin white border */
  position: relative;
  z-index: 9990;
  flex-wrap: nowrap;
  opacity: 65%;
  width: 90%;
  margin: 1% auto;
  transition: background-position 1s cubic-bezier(0.42, 0, 0.58, 1), 
    opacity 1s cubic-bezier(0.42, 0, 0.58, 1);
  background-size: 200% 200%;
  background-position: 0% 50%;
}

.site-navbar:hover {
  background-position: 100% 50%;
  opacity: 1;
}


.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF; /* White text */
  text-decoration: none; /* Remove underline */
  transition: transform 0.4s ease-in-out;
}

.navbar-brand:hover {
  transform: scale(1.05);
}

.nav-link {
  color: #FFFFFF; /* White text */
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
  text-decoration: none; /* Remove underline */
  opacity: 0.85; /* Initial opacity for non-active links */
  transition: opacity 0.4s, transform 0.4s; /* Smooth transition for opacity and transform */
}

.site-navbar .nav-link:hover {
  opacity: 1; /* Full opacity on hover */
  transform: scale(1.15);
}

.site-navbar .nav-link:active {
  transform: scale(0.95); /* Scale down on click */
}

/* Dropdown Container */
.dropdown {
  display: inline-flex;
  align-items: center; /* Aligns toggle button with other navbar links */
  position: relative;
  margin-right: 20px; /* Same spacing as other nav-links */
  white-space: nowrap; /* Prevent line breaks */
}

/* Dropdown Toggle Button */
.dropdown-toggle {
  background: none; /* Remove background */
  border: none; /* Remove border */
  color: #FFFFFF; /* Match navbar link text color */
  font-size: 18px; /* Match navbar link font size */
  cursor: pointer;
  padding: 10px 0; /* Consistent padding with other nav-links */
  text-decoration: none; /* Remove underline */
  opacity: 0.85; /* Match initial opacity */
  transition: opacity 0.4s, transform 0.4s; /* Smooth transitions */
}

/* Hover Effects for Dropdown Toggle */
.dropdown-toggle:hover {
  opacity: 1; /* Full opacity on hover */
  transform: scale(1.05); /* Slight scaling for interaction */
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 100%; /* Align directly below toggle button */
  left: 0;
  background-color: var(--accent-color-dark); /* Match navbar background */
  opacity: 0.9;
  border: 1px solid white;
  border-radius: 8px; /* Rounded edges */
  padding: 10px; /* Inner padding */
  display: none; /* Hide by default */
  flex-direction: column;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

/* Show Dropdown Menu When Active */
.dropdown:hover .dropdown-menu {
  display: flex; /* Display dropdown on hover */
}

/* Links in Dropdown Menu */
.dropdown-menu .nav-link {
  color: #FFFFFF; /* White text */
  font-size: 16px; /* Slightly smaller than the navbar links */
  margin: 5px 0; /* Spacing between links */
  text-decoration: none; /* Remove underline */
  opacity: 0.65; /* Initial opacity */
  transition: opacity 0.4s, transform 0.4s; /* Smooth transitions */
}

/* Hover Effects for Dropdown Links */
.dropdown-menu .nav-link:hover {
  opacity: 1; /* Full opacity on hover */
  transform: scale(1.05); /* Slight scaling for interaction */
}


.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid transparent;
  border-top: 4px solid var(--highlight-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  
}



/* Chord Player */
.chord-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--chord-player-background);
  border-radius: 8px;
}

.chord-select, .chord-button {
  background-color: var(--chord-element-background);
  color: var(--primary-text-color);
  border: 1px solid var(--chord-element-border);
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
}

.chord-select:focus, .chord-button:focus {
  outline: none;
  border-color: var(--highlight-color);
}

.chord-button {
  cursor: pointer;
  background-color: var(--accent-color);
}

.chord-button:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.chord-button:active {
  transform: scale(0.95); /* Slightly reduce on click */
}

.chord-status {
  margin-top: 15px;
}

/* Animations for other buttons and inputs */
button:hover, input[type="text"]:hover, input[type="password"]:hover {
  animation: hoverAnimation 0.3s forwards;
}

button:active, input[type="text"]:active, input[type="password"]:active {
  animation: clickAnimation 0.1s forwards;
}

@keyframes hoverAnimation {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

@keyframes clickAnimation {
  0% { transform: scale(1); }
  100% { transform: scale(0.95); }
}






/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--chord-player-background);
  padding: 4% 3%;
  border-radius: 8px;
  max-width: 33%;
  min-height: 50%;
  margin: 3% auto;
}

.contact-form h1 {
  padding-top: 0;
  margin-top: -4%;
  margin-left: -2%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background-color: var(--chord-element-background);
  color: var(--primary-text-color);
  border: 1px solid var(--chord-element-border);
  padding: 2% 1%;
  border-radius: 4px;
  font-size: 16px;
  width: 90%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2% auto;
  margin-left: 3.5%;
}

.contact-form textarea {
  resize: vertical;
  height: 30%;
}

.contact-form button {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border: none;
  padding: 2% 2%;
  margin: 2% auto 5%;
  margin-left: 3.5%;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 92.5%;
}

.contact-form .error-message {
  color: var(--error-color, #d9534f); /* Use a variable or default to red */
  font-size: 14px;
  margin: 2%;
  margin-left: 0%;
  text-align: center;
}

.contact-form .success-message {
  color: var(--success-color, #5cb85c); /* Use a variable or default to green */
  font-size: 14px;
  margin: 2%;
  margin-left: 0%;
  text-align: center;
}





/* About Styles */
/* Skills Grid Container */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1%));
  gap: 10px;
  padding: 20px; /* Adds padding around the grid for better spacing */
  margin-left: 0%;
  flex-grow: 1; /* Allow the skills grid to take available space */
}

/* Skill Category Styles */
.skill-category {
  display: flex;
  flex-direction: column;
  background: var(--chord-element-background); /* Optional for better visibility */
  padding: 10px;
  border-radius: 8px;
  overflow: hidden; /* Keeps the expanding content within the box */
  min-height: 3%; /* Set a minimum height to prevent cutting off content */
  transition: background 5s ease-in-out; /* Smooth background color transition */
  transition: max-height 0.5s ease-in, padding 0.25s ease-in, margin 0.5s ease-in-out;
  transition: max-height 2s ease-out, padding 1s ease-out; /* Smooth transition for max-height and padding */
}

.skill-category h3 {
  cursor: pointer;
  margin-bottom: 5px;
}

.skill-category .skill-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  max-height: 0; /* Start with zero height */
  overflow: hidden; /* Hide content initially */
  transition: max-height 0.5s ease-in, padding 0.25s ease-in, margin 0.5s ease-in-out, background 5s ease-in-out;
  transition: max-height 2s ease-out, padding 1s ease-out; /* Smooth transition for max-height and padding */
}

.skill-category:hover .skill-list {
  max-height: 500px; /* Set a consistent max-height for all skill lists */
  padding: 10px; /* Add padding during hover */
}
.skill-category:hover {
  background: var(--accent-color);
}

.skill-list {
  text-align: left;
}

.skills-container {
  display: flex;
  justify-content: space-between; /* Align text and grid on the same row */
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Add spacing between the two sections */
}

.skills-text {
  display: flex;
  flex-direction: column; /* Stack "Skills" and "Resume" vertically */
  text-align: left; /* Align text to the left */
  flex-shrink: 0; /* Prevent shrinking of the text container */
  margin-left: 5%;
  margin-top: 2%;
}

.resume {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
  position: absolute;
}

.resume-link {
  color: var(--accent-color); /* Use an accent color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth hover effect */
  margin-top: 50%;
}

.resume-link:hover {
  color: var(--highlight-color); /* Change color on hover */
  text-decoration: underline; /* Optional underline on hover */
}


.-page {
  text-align: center;
  margin: 0 auto;
  width: 100%; /* Adjust width as needed */
  z-index: 1;
}

.-page h1 {
  font-size: 2em;
}

.-page p {
  margin: 10px 0;
}

.-page a {
  text-decoration: none;
  color: #007bff; /* Customize link color */
}

.-page a:hover {
  text-decoration: underline;
}

.about-bio {
  width: 75%;
  text-align: left;
  margin-left: 12.5%;
  margin-top: 5%;
  margin-bottom: 3%;
}



/* Poker Frogs 3D */

#root {
  height: 100%;
}

.gui-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grab;
}

.gui-container:active {
  cursor: grabbing;
}

.debug-panel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grab;
  line-height: 0.5;
}


.debug-panel p {
  margin-bottom: 1px; 
}

.debug-panel:active {
  cursor: grabbing;
}

.slider-container {
  margin-bottom: 10px;
}

.slider {
  width: 300px;
  cursor: pointer;
}

.horiz-container {
  display: flex;
  gap: 10px;
}

.gui-button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.gui-button:hover {
  background-color: var(--highlight-color);
  transform: scale(1.05);
}

.gui-button:active {
  transform: scale(0.95);
}

.purple-gui {
  background-color: var(--chord-player-background);
  border: 1px solid var(--chord-element-border);
  box-shadow: 0 0 10px var(--highlight-color);
  animation: pulsate 1.5s infinite;
}



.card-display {
  position: absolute;
  top: 70px; /* Adjusted to not overlay on the navbar */
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 10; /* Ensure it overlays on top of everything */
  font-size: 12px;
}



.no-scroll {
  overflow: hidden;
  height: 100%;
}





/* Rock, Paper, Scissors RPS */

.flex-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  min-height: 100vh; /* Ensure full vertical height */
  padding: 2rem; /* Add spacing around content */
  box-sizing: border-box; /* Include padding in element dimensions */
  overflow-y: visible;
}

.flex-item {
  flex: 1 1 auto; /* Allow flexible resizing */
  min-width: 300px; /* Ensure minimum width */
  text-align: left; /* Center-align content */
}


.horiz-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Align the buttons vertically */
  gap: 1rem; /* Add spacing between buttons */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  margin: 1rem 0; /* Add some vertical spacing */
}

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  min-width: 120px; /* Ensure consistent button size */
  text-align: center;
}

.btn:disabled {
  background-color: var(--chord-element-background);
  cursor: not-allowed;
}


.choice-btn {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.choice-btn:hover {
  transform: scale(1.10);
}

.choice-btn:active {
  transform: scale(0.90);
}

.results-container {
  margin-top: 1rem;
  text-align: left;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; /* Ensure boxes wrap if the container width is too small */
  gap: 1rem; /* Add spacing between boxes */
}

.stats-box {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 1rem;
  border: 1px solid var(--chord-element-border);
  background-color: var(--chord-element-background);
  color: var(--primary-text-color);
  margin: 1rem;
  width: 250px; /* Ensure equal width */
  min-height: 200px; /* Force consistent height */
  box-sizing: border-box; /* Include padding in height */
  border-radius: 8px;
}

.matrix-box {
  width: 400px; /* Adjust the width to fit the matrix content */
  min-height: 200px; /* Match the height of other boxes */
  overflow-x: auto; /* Add horizontal scroll if needed */
  border: 1px solid var(--chord-element-border);
  background-color: var(--chord-player-background);
  color: var(--primary-text-color);
}


.results-container h3 {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space the label and value */
  gap: 1rem; /* Add space between text and value */
  margin: 0.5rem 0; /* Add some vertical spacing between rows */
}


#c1 { top: 60px; left: 10px; }
#c2 { top: 60px; left: 475px; }
#c3 { top: 60px; left: 825px; }
#c4 { top: 425px; left: 475px; }
#c5 { top: 425px; left: 750px; }
#c6 { top: 425px; left: 1025px; }

#c1:active, #c2:active, #c3:active, #c4:active, #c5:active, #c6:active {
  cursor: grabbing;
}

#c1, #c2, #c3, #c4, #c5, #c6 {
  position: absolute;
  cursor: grab;
  user-select: none; /* Prevent text selection during dragging */
  touch-action: none; /* Disable touch scrolling for mobile dragging */
  width: 20%; /* Set proportional width */
  max-width: 30%; /* Limit the maximum width */
  height: auto; /* Allow height to adjust based on content */
}








/* Media Queries */

/* @media (max-width: 768px) {
  #container1 { top: 10px; left: 10px; }
  #container2 { top: 120px; left: 10px; }
  #container3 { top: 230px; left: 10px; }
  #container4 { top: 340px; left: 10px; }
  #container5 { top: 450px; left: 10px; }
  #container6 { top: 560px; left: 10px; }
} */




/* Flex container for alignment */
.flex-container {
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
  justify-content: center;
  align-items: center; /* Align items horizontally at the center */
  gap: 1rem;
  padding: 2rem;
  max-width: 1200px; /* Optional: limit container width */
  margin: 0 auto; /* Center the container */
}

/* For horizontal alignment on larger screens */
@media (min-width: 768px) {
  .flex-container {
    flex-direction: row; /* Switch to horizontal layout on larger screens */
    flex-wrap: wrap; /* Allow wrapping if there’s insufficient space */
  }
}

/* Flex items with equal spacing and alignment */
.flex-item {
  flex: 1 1 300px; /* Flexible width with a minimum of 300px */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: space-between; /* Space out child items vertically */
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--chord-player-background); /* Match theme */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center align text */
}

.flex-item, .stats-box {
  transform: scale(var(--dynamic-scale));
  transform-origin: top left; /* Adjust the scaling origin */
}


#c1, #c3 h2 {
  color: var(--primary-text-color);
}

#c1, #c3 {
  flex: 1 1 300px; /* Flexible width with a minimum of 300px */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: space-between; /* Space out child items vertically */
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--chord-element-border); /* Match theme */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center align text */
}
#c1, #c3 h1, h2, label {
  color: #000;
}

#c1, #c3 h2 {
  color: var(--dark-background);
  font-size: 27px;
}

#c1, #c3 h3 {
  color: var(--chord-player-background);
}

#c1, #c3 h4 {
  color: var(--chord-element-background);
  text-align: center;
}

#behavior-select {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* Buttons container */
.btn {
  width: 100%; /* Buttons take full width */
  max-width: 200px; /* Optional: limit button size */
  margin: 0.5rem 0; /* Space between buttons */
  text-align: center;
}

/* Stats and matrix container */
.stats-container {
  display: flex;
  flex-wrap: wrap; /* Wrap stats on small screens */
  justify-content: center; /* Center content horizontally */
  gap: 1rem;
  margin-top: 2rem;
  overflow-y: auto;
  overflow-x: auto;
}

/* Stats box for consistent height and alignment */
.stats-box {
  flex: 1 1 250px; /* Flexible layout with minimum width */
  min-height: 200px; /* Consistent height for all boxes */
  padding: 1rem;
  background-color: var(--chord-element-background);
  border: 1px solid var(--chord-element-border);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  justify-content: space-between; /* Space content evenly */
}

/* Transition matrix box with wider width */
.matrix-box {
  flex: 2 1 400px; /* Make matrix box wider */
  overflow-x: auto; /* Add horizontal scroll if needed */
  overflow-y: auto;
  padding: 1rem;
}

.flex-item, .stats-box, .matrix-box {
  flex: 1 1 300px; /* Flexible width with a minimum of 300px */
  max-width: 300px; /* Limit maximum width */
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--chord-player-background);
}

/* Add responsive scaling */
@media (max-width: 768px) {
  .flex-item, .stats-box, .matrix-box {
    flex: 1 1 100%; /* Full width for smaller screens */
    max-width: 100%; /* Ensure content does not overflow */
    padding: 0.5rem;
  }

  .btn, .choice-btn {
    font-size: 14px; /* Reduce font size for smaller screens */
    padding: 0.4rem 0.8rem; /* Adjust padding */
  }
}

@media (max-width: 480px) {
  .flex-item, .stats-box, .matrix-box {
    padding: 0.2rem;
  }

  .btn, .choice-btn {
    font-size: 12px;
    padding: 0.3rem 0.6rem;
  }
}



















/* Poker 2D */


/* Start New Game Button */
.start-button {
  position: absolute;
  top: 3rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.start-button:hover {
  background-color: var(--highlight-color);
  transform: scale(1.05);
}

/* Game Info Line */
.game-info-line {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 3rem 0 1rem; /* Adds spacing below the Start New Game button */
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text-color);
}

.community-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem auto;
  padding: 1rem 0;
}

.card {
  width: 50px;
  height: 70px;
  border: 2px solid #000;
  text-align: center;
  line-height: 70px;
  background-color: white;
  color: black;
  border-radius: 5px;
}




/* Player Actions */
.player-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.action-button {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.action-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.action-button:hover:enabled {
  background-color: var(--highlight-color);
  transform: scale(1.05);
}

/* Players Container */
.players-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 2rem;
}

.player-box {
  width: 15%; /* Each player container takes 15% of the width */
  max-width: 15%;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: left;
  background-color: var(--dark-background);
  color: var(--primary-text-color);
  border-radius: 5px;
}



.player-folded {
  opacity: 0.5;
  background-color: var(--chord-element-background);
}

.player-current {
  border: 2px solid var(--accent-color);
  background-color: var(--highlight-color);
  color: var(--dark-background)
}
.player-current h3 {
  color: var(--dark-background); /* Replace with your desired color */
}





/* Home Page */

.loading-overlay.hidden {
  display: none;
}

/* Emoji */
.emoji {
  font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  font-size: 500%;
  transition: transform 0.6s ease;
  position: relative; /* Required for floating animation */
  
}

span.emoji, img.emoji {
  display: inline-block;
  font-size: 2rem;
  height: 1em;
  width: auto;
  transition: transform 0.6s ease;
  vertical-align: middle;
}

img.emoji {
  width: 88%;
  height: auto;
}

span.emoji {
  font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

.emoji:hover {
  animation: pulsate 0.6s ease-in-out; /* Use pulsate keyframes on hover */
}

.emoji-container {
  display: flex;
  gap: 1rem; /* Adjust spacing between emojis */
  justify-content: center;
  align-items: center;
}

/* .emoji#rock {
  font-size: 173%;
  position: relative;
  top: 8%;
  right: 50%;
}

.emoji#paper {
  position: relative;
  left: 25%;
  bottom: 45%;
}

.emoji#scissors {
  position: relative;
  left: 25%;
  bottom: 45%;
} */




/* Cards Container */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Spacing between cards */
  margin-top: 40px; /* Space above the container */
  height: 100%;
  padding-bottom: 25%;
}



.animated-card {
  width: 150px;
  height: 150px;
  background-color: var(--highlight-color);
  color: var(--primary-text-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  margin: 0 5%;
  animation: float 4s ease-in-out infinite; /* Floating animation */
}

/* Staggered animations */
.animated-card:nth-of-type(1) {
  animation-delay: 0s; /* No delay for the first card title */
}

.animated-card:nth-of-type(2) {
  animation-delay: 2s; /* Delay of 2 seconds for the second card title */
}

.animated-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Remove underline from links */
.animated-card .card-content {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Ensures the text color matches parent */
}

.animated-card .card-content:hover {
  text-decoration: none; /* Ensure underline is not added on hover */
}

.card-title {
  display: flex; /* Enables flexbox for horizontal alignment */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Aligns the items vertically on the same line */
  gap: 20px; /* Adds space between the two titles */
  margin-top: -22%; /* Adjust this value to move the title higher */
  text-align: center; /* Centers the text */
  font-size: 1.5rem; /* Adjust font size as needed */
}

.card-title h1 {
  margin: 0; /* Removes default margin */
  padding: 0; /* Ensures no padding is added */
  font-size: inherit; /* Ensures it inherits the parent font size */
  animation: float 4s ease-in-out infinite; /* Floating animation for individual titles */
}

.card-title h1:nth-of-type(1) {
  animation-delay: 0s; /* No delay for the first title */
}

.card-title h1:nth-of-type(2) {
  animation-delay: 2s; /* Delay of 2 seconds for the second title */
}

/* Media Query for Smaller Screens */
@media (max-width: 1400px) {
  .card-title {
    display: flex; /* Enables flexbox for horizontal alignment */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Aligns the items vertically on the same line */
    gap: 20px; /* Adds space between the two titles */
    margin-top: -23%; /* Adjust this value to move the title higher */
    text-align: center; /* Centers the text */
    font-size: 1.5rem; /* Adjust font size as needed */
  }
  
  .card-title h1 {
    margin: 0; /* Removes default margin */
    padding: 0; /* Ensures no padding is added */
    font-size: inherit; /* Ensures it inherits the parent font size */
  }
  
  .card-title h1:nth-child(1) {
    margin-left: -3%; /* Moves the first h1 slightly to the left */
  }
  
  .card-title h1:nth-child(2) {
    margin-left: 3.5%; /* Moves the second h1 slightly to the left */
  }
}



